* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background-image: url(./images/mobile-back1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

#toolbar {
  display: flex;
  justify-content: flex-end;
  margin: 16px;
  padding-right: 16px;
  position: fixed;
  right: 0;
  top: 0;
}

.menues {
  font-size: 21px;
}
.see,
.desk,
.bigmage,
.form-name-message p {
  display: none;
}

.name {
  font-family: 'Rubik', cursive;
  font-size: 30px;
  font-weight: 400;
  line-height: 100%;
  width: 100%;
  padding: 16px;
  margin: 0;
  margin-top: 90px;
  color: #ec5242;
}

.imgTitle {
  width: 80%;
}

.date {
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 16px;
  color: #595959;

}

.adress {
  font-family: 'Arial Narrow', Arial, sans-serif;
  padding: 0 16px 32px;
}

.headline {
  width: 90%;
  height: auto;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #1a2236;
  padding: 17px 14px;
  font-weight: bold;
  letter-spacing: -0.02em;
  margin: 0 16px 20px;
  background: #f8f8f8;
  border: 4px solid #fff;
}

.textBoton {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.blackBoton {
  font-family: 'Lato', sans-serif;
  margin: 16px auto;
  width: 90%;
  height: 68px;
  background: #FF4F38;
  color: #fff;
}


/* Program section */

.program {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(circle, transparent 20%, #232a31 20%, #232a31 80%, transparent 80%, transparent) 0% 0% / 54px 54px, radial-gradient(circle, transparent 20%, #232a31 20%, #232a31 80%, transparent 80%, transparent) 27px 27px / 54px 54px, linear-gradient(#1a1a1e 3.5px, transparent 3.5px) 0px -1.75px / 27px 27px, linear-gradient(90deg, #1a1a1e 3.5px, #232a31 3.5px) -1.75px 0px / 27px 27px #232a31;
  background-color: #232a31;

}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 100%;
  padding: 16px;
  padding-bottom: 0;
  padding-top: 0;
  margin: 40px auto 15px;
  background: #fff;
  background-color: transparent;
}

.white {
  color: #fff;
}

.line {
  width: 30px;
  height: 0;
  border: 1px solid #a04038;
  margin: 10px auto 30px;
}

.programArticle {
  display: grid;
  grid-template-columns: 24% 22% 50%;
  background: url(pattern_bg.png), rgb(59, 62, 69, 0.5);
  color: #fff;
  margin-bottom: 2.68px;
}

.programTitle {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14.2712px;
  line-height: 25px;
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  color: #ff5438;
}

.programArticle img {
  padding: 15px 9px;
}

.programDescription {
  width: 191.77px;
  height: 82.06px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 10.7034px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #fff;
  
}

/* Speakers section */

.gallery {
  display: grid;
  flex-wrap: wrap;
  width: 90vw;
  gap: 10px;
  padding: 15.5px;
}


.card {
  display: grid;
  grid-template-columns: 110px 300px;
  margin: 0 auto
}

.lineGray {
  width: 17.79px;
  height: 0px;
  border: 1.5px solid #d9d9d9;
}

.imgp {
  width: 107px;
}

.pData {
  width: 100%;
  padding-left: 10px;
  bottom: 0;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 15px;
  line-height: 300%;
}

.orange {
  color: #ec5242;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
}

.black {
  font-family: 'Lato', sans-serif;
  font-size: 9px;
}

.btnSpeakers {
  font-family: 'Lato', sans-serif;
  padding: 10px 40%;
  display: grid;
  margin: 5px auto;
  background: #fff;
  border-radius: 3px;
  border:rgb(59, 62, 69, 0.5) 1px solid
}

/* footer section */

.contenfoo {
  background: #414246;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  display: none;
}

.resume {
  display: flex;
  align-items: center;
  border: transparent;
  color: #fff;
  flex-grow: 2;
  font-size: 16px;
  background: transparent;
  justify-content: center;
  margin: 21px 16px;
}

.rsFooter {
  align-self: center;
  background: transparent;
  width: 100vw;
  max-width: 320px;
  padding: 20px 30px 30px 30px;
  display: flex;
  justify-content: space-between;
}

.rrss {
  background-color: transparent;
  list-style: none;
  transition-duration: 1.7s;
  cursor: pointer;
}

.rrss:hover {
  zoom: 1.15;
}

@media only screen and (min-width: 768px) {
  /* Header change nav */
  .img-mobile-container {
    display: none;
  }

  #toolbar {
    display: none;
  }

  body {
    background-image: url(./images/bigback.jpg);
    background-repeat: no-repeat;
     background-position: top center;
     background-size: 200%;
  }

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

  .menues {
    font-size: 1em;
  }

.imgTitle {
  width: 90%;
}

  .desk {
    display: block;
    border-bottom: 1px solid #dddfe6;
    line-height: 4;
    background-color: rgb(255, 255, 255, 0.7);
  }

  .menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
  }

  .menu a {
    font-family: "Lato", sans-serif;
    text-decoration: none;
    font-weight: 800;
    font-size: 1em;
    line-height: 24px;
    color: #868686;
  }

  .special {
    border: #ff5438 4px solid;
    height: fit-content;
    padding: 4px 18px;
    line-height: 2;
    font-weight: bold;
    cursor: pointer;
  }

  .logo {
    width: 200px;
    cursor: pointer;
  }

  /* hello section */

  .hello {
    justify-content: center;
    margin: 0 auto;
    max-width: 1280px;
  }

  .headline {
    font-size: 1.2em;
    line-height: 1.5;
    width: 70%;
    height: fit-content;
    letter-spacing: -0.01em;
    font-weight: 400;
  }

  .hello-text {
    display: flex;
    flex-direction: column;
    padding-left: 4em;
    justify-content: center;
  }

  .name {
    font-size: 5vw;
  }

  .date {
    font-size: 2.3em;
  }
  
  .adress {
    font-size: 1.5em;
    color: #868686;
    padding-bottom: 15%;
  }
  
  .blackBoton {
    width: 60%;
  }

  .textBoton {
    font-size: 100%;
  }

  .blackBoton:hover {
    background: #fff;
    border-color: none;
    border-width: 1px;
    color: #272a31;
  }

  .blackBoton:active {
    border-width: 1.5px;
  }

  /* Main program */

  .program {
    max-width: 1280px;
    margin: 0 auto;
    zoom: 100%;
  }

  .Projects {
    background-color: #fff;
    margin: 0 auto;
    zoom: 100%;
  }

  h2 {
    font-size: 1.3em;
    display: table;
  }

  .activities {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: center;
    padding: 4% 0;
  }
  .programArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18%;
  }

  .programTitle {
    font-size: 1.3em;
  }

  .programDescription {
    font-size: 0.8em;
    font-weight: lighter;
    margin: 10% 0;
    width: auto;
    height: auto;
    padding: 6%;
  }

  .gallery {
    grid-template-columns: 40% 40%;
    grid-template-rows: auto auto auto;
    column-gap: 5%;
    row-gap: 5%;
    margin: 5% auto;
    justify-content: center;
  }

  .card {
    grid-template-columns: 110px 25%;
  
  }

  .pData {
    width: 20vw;
  }

  .btn {
    display: none;
  }

  .contenfoo {
    display: grid;
  }

  .rsFooter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 5%;
    zoom: 0.7;
    
  }
   .dark {
    background: #3e3e3e;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 0.7em;
    display: grid;
    grid-template-columns: 3% 3% 6% 6% 6%;
    justify-content: end;
    align-items: center;
    padding-right: 8%;
  }

  .blue {
    color: rgba(10, 188, 233, 0.774);
    padding-left: 0;
  }
}

